<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		   <link rel="stylesheet" href="../public/css/base.css" />
		   <link rel="stylesheet" href="../public/css/reg.css" />
		<title>购买药物</title>
	</head>
	<body>
		<div class="buy">
			<!--头部的栏目-->
			<div class="header clearfix"  >
	   	    <!--0.人物导航-->
               <a href="../index.html" class="fl"><</a>
               	<span>购买药物</span>
            </div> 
            <div class="medicine">
            	<div>
            		<span class="Mname">药物名称：清火</span><br />
              		<span class="Mfunction">药物功能：清火</span><br />
             		<span class="Mother">备注：清火</span><br />
            	    <span class="Mprice">价格：667.00元</span><br />
            	</div>
            	
            </div>
            <input type="button" value=" 支付"  class="apply"/>
            <a href="../index.html"><input type="button" value="取消" class="console" /></a>
		</div>
	</body>
</html>
